export.cfg
*.o
*.pyc
*.a
.idea/dbnavigator.xml
.idea/workspace.xml
cmake-build-*
doc/html/

## QT Creator
HotelManager.config
HotelManager.creator
HotelManager.files
HotelManager.includes
HotelManager.creator.user

*callgrind.out.*
